<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b></b>
      < /> </b>Developing Solution
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Novo Computador Identificado</p>
      <p class="text-center"><small>Deseja usar sua conta neste computador?</small></p>
      <div class="row mt-2">
          <a href="/account" class="btn btn-primary col-12">Usar Neste Computador</a>
      </div>
    </div>
  </div>
</div>
