<div class="container">
    <div class="card-body">
        {{> _modalTurmas}}
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                 <div class="col">
                    <button class="btn btn-info col-12" data-bs-toggle="modal" data-bs-target="#registerCurso">Registar Curso</button>
                </div>
                <div class="col">
                    <button class="btn btn-info col-12" data-bs-toggle="modal" data-bs-target="#registerTurma">Registar Turma</button>
                </div>
                <div class="col">
                    <button class="btn btn-info col-12" data-bs-toggle="modal" data-bs-target="#RegisterDisciplina">Registar Displinas/Unidades</button>
                </div>
                <div class="col">
                    <button class="btn btn-info col-12" data-bs-toggle="modal" data-bs-target="#RegisterDocenteDisciplina">Registar Docente/Diciplina</button>
                </div>
            </div>                 
        </div>
    </div>
</div>