<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <img src="/images/logo/logo.png" width="200" alt="Firjan SENAI">
                </div>
                <div class="col mt-4">
                    <h5><strong>Sobre nós </strong></h5>
                    <p>                    
                        <small>
                            Phasellus cursus, augue eget ultricies eleifend, nunc nisi iaculis urna, non fringilla enim
                            quam
                            vitae quam. Pellentesque vitae scelerisque turpis. Sed magna turpis, scelerisque eu ipsum
                            vitae,
                            aliquet iaculis dui. Ut at pharetra sapien. Donec posuere in tortor a pellentesque. Fusce
                            vel
                            lectus id sem pellentesque vulputate a eu ex.
                        </small>
                    </p>
                </div>
                <div class="col ml-3 mt-4">
                    <hr>
                    <h5>Desejo receber informações</h5>
                    <div class="row">
                        <div class="col-8">                
                            <input type="text" name="email" id="email" class="form-control"
                                placeholder="Digite seu numero whatsApp">
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info col-12">Enviar</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>