<div class="card-header" id="pgm">
    <strong class="card-title mb-3" style="text-align: center;">Developing Solutions</strong>
    <form action="/pay" method="post">
        <input type="image" src="/images/mceclip0.png" width="300" alt="Submit Form" />
    </form>
</div>
