<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>A Solutions Tech lhe deseja um ótimo serviço!</strong> Estamos trabalhando em uma versão para trazer mais benefícios para você, assim que estiver pronta entraremos em contato, o melhor de tudo é GRATIS.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
