<div class="modal" tabindex="-1" id="agendamentoSENAILAB">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agenda SENAI LAB 2 Bm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                        <h5><i class="fas fa-user"></i> Fulano</h5>
                        <h5><i class="fas fa-flask"></i> PALESTRA TI</h5>
                        <h5><i class="fas fa-calendar-alt"></i> 10/03/2020</h5>
                        <h5><i class="fas fa-clock"></i> 10:00 Hr</h5>
                        <h5><i class="fas fa-clock"></i> 12:00 Hr</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>