<div class="containter mt-3">
    <div class="card-body"></div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5>Agende agora suas tarefas no nosso SENAI LAB II!</h5>
            <hr>
            <form action="/SENAILAB/schedule" method="post">
                <div class="row">
                    <div class="col">
                        <label for="turma">Turma</label>
                        <input type="text" name="turma" id="turma" class="form-control" required>
                        <label for="atividade">Atividade</label>
                        <input type="text" name="atividade" id="atividade" class="form-control" required>
                    </div>
                    <div class="col">
                        <label for="material">Material necessário</label>
                        <input type="text" name="material" id="material" class="form-control" required>
                        <label for="">Turma</label>
                        <input type="text" name="" id="" class="form-control" >
                    </div>
                    <div class="col">
                        <label for="date">Data</label>
                        <input type="date" name="date" id="date" class="form-control" required>
                        <div class="row">
                            <div class="col-6">
                                <label for="hrInicio">Horário inicio</label>
                                <input type="time" name="hrInicio" id="hrInicio" class="form-control" required
                                    placeholder="Digite seu Horário">
                            </div>
                            <div class="col-6">
                                <label for="hrFim">Horário fim</label>
                                <input type="time" name="hrFim" id="hrFim" class="form-control" required
                                    placeholder="Digite seu Horário">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <div class="col"></div>
                    <div class="col">
                        <button class="btn btn-info col-12">Agendar</button>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </div>
</div>